/* colors variables */
$clr-background-alt: #090909;
$clr-background: #cacaca;
$clr-primary: #76D3FF;
$clr-secondary: #6B22CF;
$clr-text: #090909;
$clr-info: #6B22CF;

$white: #FFFFFF;
$black: #090909;
