/* font size variable */
$font-size-1: 10px;
$font-size-2: 12px;
$font-size-3: 14px;
$font-size-4: 16px;
$font-size-5: 17px;
$font-size-6: 21px;
$font-size-7: 28px;
$font-size-8: 34px;


$font-weight-1: 400; 
$font-weight-2: 500; 
$font-weight-3: 600; 
$font-weight-4: 700;
