# >==== PROJECT FILES

# Env files
**/*.env*
!.exemple.env

# compiled output
/.nuxt
/dist
/node_modules
/.output

# Tests
/**/coverage
/.nyc_output



# >==== GENERAL FILES

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# Service worker
sw.*

# Vim swap files
*.swp