/* colors variables */
$color-dark-blue: #0c1533;
$color-blue: #2eb5e4;
$color-neon-blue: #3dffeb;
$color-light-grey: #d9d9d9;
$color-grey: #7b7979;
$color-orange: #f9a72b;
$color-yellow: #fbc234;
$color-offwhite: #fefefe;

// status colors
$color-error: #f80077;
$color-success: #00c94d;

// brand colors
$color-facebook: #3b5999;
$color-twitter: #55acee;
$color-linkedin: #0077b5;

$white: #FFFFFF;
$black: #000000;